src/flows/Add_Program_Years.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Create Program Years</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Create Program Years</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Create_Program_Years</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vClientProgramID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>vClientProgramID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>vRecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>vRecordType</name>
            <value>
                <elementReference>formula_2_myRule_1_A1_0523025678</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X3_Onboarding_New_program_Added</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Email Alert - Add Flt History</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Client_Program__c.X3_Onboarding_New_program_Added</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>No criteria</label>
        </rules>
    </decisions>
    <description>3. Onboarding Email Alerts</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
[Client_Program__c].RecordType.DeveloperName=&quot;Fractional_Lease&quot;,&quot;012U0000000kJHt&quot;,
IF(
[Client_Program__c].RecordType.DeveloperName =&quot;Fractional_Share&quot;, &quot;012U0000000kJHu&quot;,
IF(
[Client_Program__c].RecordType.DeveloperName=&quot;JetcardMembership&quot;, &quot;012U0000000kJHv&quot;,
IF(
[Client_Program__c].RecordType.DeveloperName=&quot;Membership_with_Multiple_Hourly_Rates&quot;, &quot;0120P000000RGcWQAW&quot;,
IF(
[Client_Program__c].RecordType.DeveloperName=&quot;Charter_Deposit_Program&quot;, &quot;0120P000000R73C&quot;,
&quot;&quot;)))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0523025678</name>
        <dataType>String</dataType>
        <expression>IF(
{!myVariable_current.RecordType.DeveloperName}=&quot;Fractional_Lease&quot;,&quot;012U0000000kJHt&quot;,
IF(
{!myVariable_current.RecordType.DeveloperName} =&quot;Fractional_Share&quot;, &quot;012U0000000kJHu&quot;,
IF(
{!myVariable_current.RecordType.DeveloperName}=&quot;JetcardMembership&quot;, &quot;012U0000000kJHv&quot;,
IF(
{!myVariable_current.RecordType.DeveloperName}=&quot;Membership_with_Multiple_Hourly_Rates&quot;, &quot;0120P000000RGcWQAW&quot;,
IF(
{!myVariable_current.RecordType.DeveloperName}=&quot;Charter_Deposit_Program&quot;, &quot;0120P000000R73C&quot;,
&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Add_Program_Years-13_InterviewLabel</interviewLabel>
    <label>Add Program Years</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Client_Program__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Program__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program__c</objectType>
    </variables>
</Flow>
