src/flows/Booking_Wizard.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Leg_to_Collection</name>
        <label>Add Leg to Collection</label>
        <locationX>1093</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>scvLeg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svLeg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease_Leg_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Leg_Screen_Values</name>
        <label>Assign Leg Screen Values</label>
        <locationX>609</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>vLegDepartureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Departure_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegDepatureAirport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegDepatureAirport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegDepatureTimeLocal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Departure_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegDepartureTimeSlide</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sliding_Departure_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegArrivalAirport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegArrivalAirport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegArrivalTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrival_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLegEstimatedFlightTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Billable_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEventSensitivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Sensitivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vImportantFlightNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Important_Flight_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFirstFlight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Flight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEstimatedDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Billable_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Variables</name>
        <label>Assign Screen Variables</label>
        <locationX>969</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>vTM_DomesticInternational</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Domestic_or_International</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTM_TripType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trip_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTM_PurposeOfTrip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purpose_of_Trip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEstBillableTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Est_Billable_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPassengerCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passenger_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPassengerManifest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Passenger_Manifest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResevationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reservation_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumberOfLegs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Legs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTripDeptAirportTEXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Departure_Airport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vArriveAirportTEXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrival_Airport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Leg</name>
        <label>Create Leg</label>
        <locationX>869</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>svLeg.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Trip_Manager_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTMID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Itinerary_Solution_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vISID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Flight_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Client_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Lead_Passenger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLeadPassengerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Leg_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Reservation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vResevationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Departure_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegDepartureDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Departure_Time_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegDepatureTimeLocal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Departing_Airport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegDepatureAirport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Arrival_Time_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegArrivalTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Arriving_Airport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegArrivalAirport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.End_of_Departure_Slide__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegDepartureTimeSlide</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Aircraft_Tail_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAircraftRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Estimated_Flight_Time_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLegEstimatedFlightTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Passanger_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPassengerCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Passenger_Manifest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPassengerManifest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Leg_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUserID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Event_Sensitivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEventSensitivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Aircraft_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aircraft_Type_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Upgrade_Downgrade_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upgrade_or_Downgrade_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Important_Flight_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vImportantFlightNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Peak_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peak_Day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Flight_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Rule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Distance_sm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distance_SM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Distance_nm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distance_NM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Interchange_Ratio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interchange_Ratio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Billing_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Pets_Onboard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pets_Onboard</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Billing_Followup_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Followup_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.First_Flight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFirstFlight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>svLeg.Estimated_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEstimatedDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Leg_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Leg_Count</name>
        <label>Decrease Leg Count</label>
        <locationX>1093</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>vNumberOfLegs</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_Legs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Days</name>
        <choiceText>Days</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Days</elementReference>
        </value>
    </choices>
    <choices>
        <name>Hours</name>
        <choiceText>Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Hours</elementReference>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_airports</name>
        <label>Are there airports?</label>
        <locationX>822</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Assign_Screen_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>One_or_more_Wrong</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vTripDepAirport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTripArvAirportID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>One or more Wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_airports_0</name>
        <label>Are there airports?</label>
        <locationX>255</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Assign_Leg_Screen_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Good</defaultConnectorLabel>
        <rules>
            <name>One_or_more_Wrong_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vLegArrivalAirport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vLegDepatureAirport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>One or more Wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_Legs</name>
        <label>Count of Legs</label>
        <locationX>846</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumberOfLegs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leg_Detail_Screen</targetReference>
            </connector>
            <label>1 or More</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumberOfLegs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Create_Leg</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <description>Booking Wizard in Lightning</description>
    <dynamicChoiceSets>
        <name>dcAircraftRequested</name>
        <dataType>String</dataType>
        <displayField>Operator_Tail_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </filters>
        <object>Aircraft__c</object>
        <outputAssignments>
            <assignToReference>vAircraftRequested</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Operator_Tail_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcBroker</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direct_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000bplI</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vBrokerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcLeadPassenger</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vLeadPassengerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcOperator</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Direct_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U0000000bplK</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vOperatorID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dcProgram</name>
        <dataType>String</dataType>
        <displayField>DB_Program_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Client_Program__c</object>
        <outputAssignments>
            <assignToReference>vProgram</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_Flight_Rule</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Flight_Rule__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_PeakDay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Peak_Day__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_TM_DomesticInternational</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Domestic_or_International__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_TM_PurposeOfTrip</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose_of_Trip__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcAircraftRequested</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Aircraft_Requested__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcEventSensitivity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Sensitivity__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcUpgradeorDowngradeRequested</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Upgrade_Downgrade_Requested__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pl_TM_TripType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trip_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>EstimatedPicklistValue</name>
        <dataType>String</dataType>
        <expression>{!Estimated_Billable}</expression>
    </formulas>
    <formulas>
        <name>fBadAirports</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!vTripDepAirport})),&quot;&quot;,
&quot;Airport code was incorrect&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTripName</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Trip_Start_Date}))+&quot;/&quot; +TEXT(DAY({!Trip_Start_Date}))+&quot;/&quot; +TEXT(YEAR({!Trip_Start_Date}))&amp;&quot; &quot;&amp;{!Trip_Origin_Airport}&amp;&quot; &quot;&amp;{!Trip_Destination_Airport}&amp;&quot; &quot;&amp;{!vTM_TripType}</expression>
    </formulas>
    <formulas>
        <name>fUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Booking Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_IS</name>
        <label>Create IS</label>
        <locationX>1037</locationX>
        <locationY>191</locationY>
        <assignRecordIdToReference>vISID</assignRecordIdToReference>
        <connector>
            <targetReference>Leg_Detail_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Arrival_Airport__c</field>
            <value>
                <elementReference>vTripArvAirportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>vBrokerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Booked__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Airport__c</field>
            <value>
                <elementReference>vTripDepAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Billable_Time_hours__c</field>
            <value>
                <elementReference>vEstBillableTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Days__c</field>
            <value>
                <elementReference>Estimated_Billable_Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important_Solution_Notes__c</field>
            <value>
                <elementReference>Important_Solution_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Itinerary_Solution_Owner__c</field>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>vOperatorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Reservation_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Category__c</field>
            <value>
                <stringValue>Guaranteed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Trip_Type__c</field>
            <value>
                <elementReference>vTM_TripType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tail_Number__c</field>
            <value>
                <elementReference>vAircraftRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_End_Date__c</field>
            <value>
                <elementReference>Trip_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_Manager_Number__c</field>
            <value>
                <elementReference>vTMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_Start_Date__c</field>
            <value>
                <elementReference>Trip_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_was_this_solution_selected__c</field>
            <value>
                <stringValue>Direct Booking</stringValue>
            </value>
        </inputAssignments>
        <object>Itinerary_Solution__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TM</name>
        <label>Create TM</label>
        <locationX>1215</locationX>
        <locationY>38</locationY>
        <assignRecordIdToReference>vTMID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_IS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arriving_Airport__c</field>
            <value>
                <elementReference>vTripArvAirportID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vLeadPassengerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Requested__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Trip__c</field>
            <value>
                <elementReference>Trip_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departing_Airport__c</field>
            <value>
                <elementReference>vTripDepAirport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fTripName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domestic_or_International__c</field>
            <value>
                <elementReference>vTM_DomesticInternational</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Trip__c</field>
            <value>
                <elementReference>vTM_PurposeOfTrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Trip_Request_Notes__c</field>
            <value>
                <elementReference>Special_Trip_Request_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fTripName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trip_Type__c</field>
            <value>
                <elementReference>vTM_TripType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Leg</name>
        <label>Fast Create Leg</label>
        <locationX>1373</locationX>
        <locationY>606</locationY>
        <inputReference>scvLeg</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Leg_Arriving_Airport_Lookup</name>
        <label>Leg Arriving Airport Lookup</label>
        <locationX>274</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_airports_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Arrival_Airport</elementReference>
            </value>
        </filters>
        <object>Airport__c</object>
        <outputAssignments>
            <assignToReference>vLegArrivalAirport</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Leg_Departing_Airport_Lookup</name>
        <label>Leg Departing Airport Lookup</label>
        <locationX>565</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leg_Arriving_Airport_Lookup</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Departure_Airport_Lookup_Id</elementReference>
            </value>
        </filters>
        <object>Airport__c</object>
        <outputAssignments>
            <assignToReference>vLegDepatureAirport</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Trip_Arriving_Airport_Lookup</name>
        <label>Trip Arriving Airport Lookup</label>
        <locationX>705</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_airports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Trip_Destination_Airport</elementReference>
            </value>
        </filters>
        <object>Airport__c</object>
        <outputAssignments>
            <assignToReference>vTripArvAirportID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Trip_Departing_Airport_Lookup</name>
        <label>Trip Departing Airport Lookup</label>
        <locationX>564</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trip_Arriving_Airport_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Trip_Origin_Airport</elementReference>
            </value>
        </filters>
        <object>Airport__c</object>
        <outputAssignments>
            <assignToReference>vTripDepAirport</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>258</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoBack</name>
            <fieldText>One or more airports are incorrect, please hit the back button and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen1</name>
        <label>Fault Screen1</label>
        <locationX>1547</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leg_Detail_Screen</name>
        <label>Leg Detail Screen</label>
        <locationX>710</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Leg_Departing_Airport_Lookup</targetReference>
        </connector>
        <fields>
            <name>First_Flight</name>
            <dataType>Boolean</dataType>
            <fieldText>First Flight</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;First flight with AvP or new vendor&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Departure_Date</name>
            <dataType>Date</dataType>
            <fieldText>Departure Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Departure_Airport</name>
            <dataType>String</dataType>
            <fieldText>Departure Airport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Arrival_Airport</name>
            <dataType>String</dataType>
            <fieldText>Arrival Airport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Departure_Time</name>
            <dataType>String</dataType>
            <fieldText>Departure Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sliding_Departure_Time</name>
            <dataType>String</dataType>
            <fieldText>Sliding Departure Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Arrival_Time</name>
            <dataType>String</dataType>
            <fieldText>Arrival Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_Billable</name>
            <choiceReferences>Days</choiceReferences>
            <choiceReferences>Hours</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estimated Billable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Billable_Time</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Billable Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Hours</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Billable_Days</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Billable Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Days</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Event_Sensitivity</name>
            <choiceReferences>pcEventSensitivity</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Event Sensitivity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Important_Flight_Notes</name>
            <fieldText>Important Flight Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Peak_Day</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>pc_PeakDay</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Peak Day?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flight_Rule</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>pc_Flight_Rule</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flight Rule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distance_SM</name>
            <dataType>Number</dataType>
            <fieldText>Distance SM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Distance_NM</name>
            <dataType>Number</dataType>
            <fieldText>Distance NM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Interchange_Ratio</name>
            <dataType>Number</dataType>
            <fieldText>Interchange Ratio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Billing_Comment</name>
            <dataType>String</dataType>
            <fieldText>Billing Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Followup_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>Billing Followup Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pets_Onboard</name>
            <dataType>String</dataType>
            <fieldText>Pets Onboard</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Trip_Detail_Screen</name>
        <label>Trip Detail Screen</label>
        <locationX>412</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trip_Departing_Airport_Lookup</targetReference>
        </connector>
        <fields>
            <name>Program</name>
            <choiceReferences>dcProgram</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operator</name>
            <choiceReferences>dcOperator</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Operator</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Broker</name>
            <choiceReferences>dcBroker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Broker</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reservation_Number</name>
            <dataType>String</dataType>
            <fieldText>Reservation Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aircraft_Type_Requested</name>
            <choiceReferences>pcAircraftRequested</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Aircraft Type Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upgrade_or_Downgrade_Requested</name>
            <choiceReferences>pcUpgradeorDowngradeRequested</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Upgrade or Downgrade Requested?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tail</name>
            <choiceReferences>dcAircraftRequested</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Tail #</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Trip_Origin_Airport</name>
            <dataType>String</dataType>
            <fieldText>Trip Origin Airport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trip_Destination_Airport</name>
            <dataType>String</dataType>
            <fieldText>Trip Destination Airport</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Est_Billable_Time</name>
            <dataType>Number</dataType>
            <fieldText>Est Billable Time (All Segments)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Est_Billable_Days_All_Segments</name>
            <dataType>Number</dataType>
            <fieldText>Est Billable Days (All Segments)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trip_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Trip Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trip_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Trip End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Legs</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Number of Legs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trip_Type</name>
            <choiceReferences>pl_TM_TripType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Trip Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Domestic_or_International</name>
            <choiceReferences>pc_TM_DomesticInternational</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Domestic or International</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purpose_of_Trip</name>
            <choiceReferences>pc_TM_PurposeOfTrip</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Purpose of Trip</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Passenger</name>
            <choiceReferences>dcLeadPassenger</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Lead Passenger</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Passenger_Count</name>
            <dataType>Number</dataType>
            <fieldText>Passenger Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Passenger_Manifest</name>
            <fieldText>Passenger Manifest</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Special_Trip_Request_Notes</name>
            <fieldText>Special Trip Request Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Important_Solution_Note</name>
            <fieldText>Important Solution Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Trip_Detail_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Created to hold the id of the Departure airport selected</description>
        <name>Departure_Airport_Lookup_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scvItinerarySolution</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Itinerary_Solution__c</objectType>
    </variables>
    <variables>
        <name>scvLeg</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>scvTripManager</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>svItinerarySolution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Itinerary_Solution__c</objectType>
    </variables>
    <variables>
        <name>svLeg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>svTripManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAircraftRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vArriveAirportTEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBrokerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEstBillableTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vEstimatedDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>vEventSensitivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFirstFlight</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vImportantFlightNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vISID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadPassengerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegArrivalAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegArrivalTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegDepartureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegDepartureTimeSlide</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegDepatureAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegDepatureTimeLocal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLegEstimatedFlightTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vNumberOfLegs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOperatorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPassengerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPassengerManifest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResevationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSlideDepartureTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTM_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>test</stringValue>
        </value>
    </variables>
    <variables>
        <name>vTM_DomesticInternational</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTM_PurposeOfTrip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTM_TripName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTM_TripType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTripArvAirportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>vTripDepAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>vTripDeptAirportTEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
