src/flows/Calculation_Analysis.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Program_1</name>
        <label>Assign Program 1</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Program1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Client_Program_Period.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Client_Program_Period</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_2</name>
        <label>Assign Program 2</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Program2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_3</name>
        <label>Assign Program 3</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Program3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_4</name>
        <label>Assign Program 4</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Program4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Client_Program_Periods</name>
        <label>Count Client Program Periods</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VarNCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Client_Program_Period</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoSelect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program1Selected</name>
        <label>Program1Selected</label>
        <locationX>50</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>SelectedAircraftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aircraft_P1_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program2Selected</name>
        <label>Program2Selected</label>
        <locationX>314</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>SelectedAircraftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aircraft_P2_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program3Selected</name>
        <label>Program3Selected</label>
        <locationX>578</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>SelectedAircraftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aircraft_P3_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Program4Selected</name>
        <label>Program4Selected</label>
        <locationX>842</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>SelectedAircraftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aircraft_P4_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Programs</name>
        <label>Set Programs</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Program1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Programs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientPrograms2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientPrograms3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientPrograms4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAircraftCalculator</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Current_and_New_Programs</name>
        <choiceText>Current and New Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current and New Programs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current_Programs_Only</name>
        <choiceText>Current Programs Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Programs Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentandPotentialPrograms</name>
        <choiceText>Current and Potential Programs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current and Potential Programs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Potential_Programs_Only</name>
        <choiceText>Potential Programs Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Programs Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Program_1_Choice</name>
        <choiceText>Program 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Program_2_Choice</name>
        <choiceText>Program 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Program_3_Choice</name>
        <choiceText>Program 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Program_4_Choice</name>
        <choiceText>Program 4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Program 4</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AutoSelect</name>
        <label>AutoSelect</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>For_Each_Client_Program_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Programs_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Select_Programs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarNCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenTwo</targetReference>
            </connector>
            <label>Programs List</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionCharter</name>
        <label>DecisionCharter</label>
        <locationX>578</locationX>
        <locationY>4346</locationY>
        <defaultConnector>
            <targetReference>Screen_Six</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CharterYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompareChoicetoCharter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Five_0</targetReference>
            </connector>
            <label>CharterYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Flight</name>
        <label>Selected Flight</label>
        <locationX>578</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>NoProgramSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProgramFlight1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Program_1_Box_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program1Selected</targetReference>
            </connector>
            <label>ProgramFlight1</label>
        </rules>
        <rules>
            <name>ProgramFlight2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Program_2_Box_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program2Selected</targetReference>
            </connector>
            <label>ProgramFlight2</label>
        </rules>
        <rules>
            <name>ProgramFlight3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Program_3_Box_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program3Selected</targetReference>
            </connector>
            <label>ProgramFlight3</label>
        </rules>
        <rules>
            <name>ProgramFlight4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Program_4_Box_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program4Selected</targetReference>
            </connector>
            <label>ProgramFlight4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Adjustments1</name>
        <collectionReference>GetAdjustmentsProgram1</collectionReference>
        <dataType>String</dataType>
        <displayField>Adjustment_Display__c</displayField>
        <object>Adjustment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Adjustments2</name>
        <collectionReference>GetAdjustmentsProgram2</collectionReference>
        <dataType>String</dataType>
        <displayField>Adjustment_Display__c</displayField>
        <object>Adjustment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Adjustments3</name>
        <collectionReference>GetAdjustmentsProgram3</collectionReference>
        <dataType>String</dataType>
        <displayField>Adjustment_Display__c</displayField>
        <object>Adjustment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Adjustments4</name>
        <collectionReference>GetAdjustmentsProgram4</collectionReference>
        <dataType>String</dataType>
        <displayField>Adjustment_Display__c</displayField>
        <object>Adjustment__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientPrograms</name>
        <collectionReference>Get_Client_Program_Period</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Name_Date__c</displayField>
        <object>Client_Program_Year__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientPrograms2</name>
        <collectionReference>Get_Client_Program_Period</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Name_Date__c</displayField>
        <object>Client_Program_Year__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientPrograms3</name>
        <collectionReference>Get_Client_Program_Period</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Name_Date__c</displayField>
        <object>Client_Program_Year__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClientPrograms4</name>
        <collectionReference>Get_Client_Program_Period</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Name_Date__c</displayField>
        <object>Client_Program_Year__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>UnderflownHoursPP1</name>
        <dataType>Number</dataType>
        <expression>(({!GetProgramPeriod1.Annual_Hours_Allotted__c}/365)*({!GetProgramPeriod1.Total_Days_in_Program_Period__c}))-{!GetProgramPeriod1.Billed_Booked_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursPP2</name>
        <dataType>Number</dataType>
        <expression>(({!GetProgramPeriod2.Annual_Hours_Allotted__c}/365)*({!GetProgramPeriod2.Total_Days_in_Program_Period__c}))-{!GetProgramPeriod2.Billed_Booked_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursPP3</name>
        <dataType>Number</dataType>
        <expression>(({!GetProgramPeriod3.Annual_Hours_Allotted__c}/365)*({!GetProgramPeriod3.Total_Days_in_Program_Period__c}))-{!GetProgramPeriod3.Billed_Booked_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursPP4</name>
        <dataType>Number</dataType>
        <expression>(({!GetProgramPeriod4.Annual_Hours_Allotted__c}/365)*({!GetProgramPeriod4.Total_Days_in_Program_Period__c}))-{!GetProgramPeriod4.Billed_Booked_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursProgram1</name>
        <dataType>Number</dataType>
        <expression>({!GetProgramPeriod1.Client_Program__r.Total_Allotted_Hours__c}/({!GetProgramPeriod1.Client_Program__r.Years_in_contract__c}*365))*({!GetProgramPeriod1.Client_Program__r.Days_in_Contract__c}-({!GetProgramPeriod1.Client_Program__r.Grand_Total_Billed_Hours__c}+{!GetProgramPeriod1.Booked_Hours__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursProgram2</name>
        <dataType>Number</dataType>
        <expression>({!GetProgramPeriod2.Client_Program__r.Total_Allotted_Hours__c}/({!GetProgramPeriod2.Client_Program__r.Years_in_contract__c}*365))*({!GetProgramPeriod2.Client_Program__r.Days_in_Contract__c}-({!GetProgramPeriod2.Client_Program__r.Grand_Total_Billed_Hours__c}+{!GetProgramPeriod2.Booked_Hours__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursProgram3</name>
        <dataType>Number</dataType>
        <expression>({!GetProgramPeriod3.Client_Program__r.Total_Allotted_Hours__c}/({!GetProgramPeriod3.Client_Program__r.Years_in_contract__c}*365))*({!GetProgramPeriod3.Client_Program__r.Days_in_Contract__c}-({!GetProgramPeriod3.Client_Program__r.Grand_Total_Billed_Hours__c}+{!GetProgramPeriod3.Booked_Hours__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderflownHoursProgram4</name>
        <dataType>Number</dataType>
        <expression>({!GetProgramPeriod4.Client_Program__r.Total_Allotted_Hours__c}/({!GetProgramPeriod4.Client_Program__r.Years_in_contract__c}*365))*({!GetProgramPeriod4.Client_Program__r.Days_in_Contract__c}-({!GetProgramPeriod4.Client_Program__r.Grand_Total_Billed_Hours__c}+{!GetProgramPeriod4.Booked_Hours__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarAircraft1</name>
        <dataType>String</dataType>
        <expression>{!GetProgramPeriod1.Client_Program__r.Aircraft__r.Id}</expression>
    </formulas>
    <formulas>
        <name>VarAircraft2</name>
        <dataType>String</dataType>
        <expression>{!GetProgramPeriod2.Client_Program__r.Aircraft__r.Id}</expression>
    </formulas>
    <formulas>
        <name>VarAircraft3</name>
        <dataType>String</dataType>
        <expression>{!GetProgramPeriod3.Client_Program__r.Aircraft__r.Id}</expression>
    </formulas>
    <formulas>
        <name>VarAircraft4</name>
        <dataType>String</dataType>
        <expression>{!GetProgramPeriod4.Client_Program__r.Aircraft__r.Id}</expression>
    </formulas>
    <interviewLabel>Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculation Analysis</label>
    <loops>
        <name>For_Each_Client_Program_Period</name>
        <label>For Each Client Program Period</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Client_Program_Period</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Program_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAircraftCalculator</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Aircraft_Analysis_1</name>
        <label>Aircraft Analysis 1</label>
        <locationX>578</locationX>
        <locationY>3506</locationY>
        <connector>
            <targetReference>Aircraft_Analysis_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft__c</field>
            <value>
                <elementReference>SelectedAircraft0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_Rate__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Savings__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectedAircraft0.Aircraft_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Aircraft_Analysis_2</name>
        <label>Aircraft Analysis 2</label>
        <locationX>578</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>Aircraft_Analysis_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft__c</field>
            <value>
                <elementReference>SelectAircraft2.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_Rate__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Savings__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectAircraft2.recordName</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Aircraft_Analysis_3</name>
        <label>Aircraft Analysis 3</label>
        <locationX>578</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Aircraft_Analysis_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft__c</field>
            <value>
                <elementReference>SelectAircraft3.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_Rate__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Savings__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectAircraft3.recordName</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Aircraft_Analysis_4</name>
        <label>Aircraft Analysis 4</label>
        <locationX>578</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>UpdateAircraftCalculator2</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft__c</field>
            <value>
                <elementReference>SelectAircraft4.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_Rate__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Savings__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SelectAircraft4.recordName</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Analysis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAircraftCalculatorRecord</name>
        <label>CreateAircraftCalculatorRecord</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>AircraftCalculatorId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Aircraft_Calculator</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId_Screen1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leg_ID_Name__c</field>
            <value>
                <elementReference>TransactionId_Screen1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Program_Period__c</field>
            <value>
                <elementReference>SelectedProgramPeriodId_Screen1</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Calculator__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Client_Program_Period</name>
        <label>Get Client Program Period</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Client_Program_Periods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Program_Period_0</name>
        <label>Get Aircrafts</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Program_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Aircraft_Calculator</name>
        <label>Get Created Aircraft Calculator</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_One</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AircraftCalculatorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Aircraft_Calculator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Aircraft_Calculator1</name>
        <label>Get Updated Aircraft Calculator</label>
        <locationX>578</locationX>
        <locationY>4106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Four</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Aircraft_Calculator.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Aircraft_Calculator__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAdjustmentsProgram1</name>
        <label>GetAdjustmentsProgram1</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdjustmentsProgram2</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAdjustmentsProgram2</name>
        <label>GetAdjustmentsProgram2</label>
        <locationX>578</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdjustmentsProgram3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Program_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod2.Client_Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAdjustmentsProgram3</name>
        <label>GetAdjustmentsProgram3</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdjustmentsProgram4</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Program_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod3.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod3.Client_Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAdjustmentsProgram4</name>
        <label>GetAdjustmentsProgram4</label>
        <locationX>578</locationX>
        <locationY>2750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Three_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Program_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod4.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Period__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramPeriod4.Client_Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgramPeriod1</name>
        <label>GetProgramPeriod1</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgramPeriod2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgramPeriod2</name>
        <label>GetProgramPeriod2</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgramPeriod3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgramPeriod3</name>
        <label>GetProgramPeriod3</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgramPeriod4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgramPeriod4</name>
        <label>GetProgramPeriod4</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdjustmentsProgram1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program4</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAircraftCalculator</name>
        <label>UpdateAircraftCalculator</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>GetProgramPeriod1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Aircraft_Calculator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Program_Period_1__c</field>
            <value>
                <elementReference>Program1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Period_2__c</field>
            <value>
                <elementReference>Program2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Period_3__c</field>
            <value>
                <elementReference>Program3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Period_4__c</field>
            <value>
                <elementReference>Program4</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Calculator__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAircraftCalculator2</name>
        <label>UpdateAircraftCalculator2</label>
        <locationX>578</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>Get_Updated_Aircraft_Calculator1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Aircraft_Calculator.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aircraft_1__c</field>
            <value>
                <elementReference>Aircraft_Analysis_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_2__c</field>
            <value>
                <elementReference>Aircraft_Analysis_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_3__c</field>
            <value>
                <elementReference>Aircraft_Analysis_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_4__c</field>
            <value>
                <elementReference>Aircraft_Analysis_4</elementReference>
            </value>
        </inputAssignments>
        <object>Aircraft_Calculator__c</object>
    </recordUpdates>
    <screens>
        <name>NoProgramSelected</name>
        <label>NoProgramSelected</label>
        <locationX>1106</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Three_0</targetReference>
        </connector>
        <fields>
            <name>SelectProgramPlease</name>
            <fieldText>&lt;p&gt;Please select at least one program&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3_1</name>
        <label>Screen3.1</label>
        <locationX>578</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aircraft_Analysis_1</targetReference>
        </connector>
        <fields>
            <name>SelectAircraft2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Aircraft 2 for Analysis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Aircraft_Analysis__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectAircraft3</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Aircraft 3 for Analysis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Aircraft_Analysis__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectAircraft4</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Aircraft__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Aircraft 4 for Analysis</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Aircraft_Analysis__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Five_0</name>
        <label>Screen Five</label>
        <locationX>446</locationX>
        <locationY>4466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Six</targetReference>
        </connector>
        <fields>
            <name>Compare2Charter_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Compare to Charter&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Five_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Five_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Five_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Four</name>
        <label>Screen Four</label>
        <locationX>578</locationX>
        <locationY>4226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionCharter</targetReference>
        </connector>
        <fields>
            <name>SelectedProgram1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Flight Options&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompareChoicetoCharter</name>
            <dataType>Boolean</dataType>
            <fieldText>Compare Choice to Charter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Four_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Four_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedAircraft1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Aircraft 1&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cabin_Type1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Cabin_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Cabin Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Max_Seats1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Max_Seats__c</elementReference>
                    </defaultValue>
                    <fieldText>Max Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conversion_Rate1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Conversion_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Conversion Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours_Savings1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Hours_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Qualifying_Discounts1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Qualifying_Discounts__c</elementReference>
                    </defaultValue>
                    <fieldText>Qualifying Discounts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Variable_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost_Savings1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Variable_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Annual_Cost1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Operating_Annual_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Annual Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Cost_Savings1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Operating_Annual_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Cost1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.All_In_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Savings1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.All_In_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Forecasted_Trend1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.Current_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>New_Forecasted_Trend1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_1__r.New_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>New Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CostAdjustments1</name>
                    <fieldText>&lt;p&gt;Cost Adjustments:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Adjustments1Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Four_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedAircraft2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Aircraft 2&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cabin_Type2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Cabin_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Cabin Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Max_Seats2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Max_Seats__c</elementReference>
                    </defaultValue>
                    <fieldText>Max Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conversion_Rate2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Conversion_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Conversion Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours_Savings2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Hours_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Qualifying_Discounts2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Qualifying_Discounts__c</elementReference>
                    </defaultValue>
                    <fieldText>Qualifying Discounts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Variable_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost_Savings2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Variable_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Annual_Cost2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Operating_Annual_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Annual Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Cost_Savings2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Operating_Annual_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Cost2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.All_In_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Savings2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.All_In_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Forecasted_Trend2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.Current_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>New_Forecasted_Trend2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_2__r.New_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>New Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CostAdjustments2</name>
                    <fieldText>&lt;p&gt;Cost Adjustments:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Adjustments2Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Four_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedAircraft3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Aircraft 3&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cabin_Type3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Cabin_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Cabin Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Max_Seats3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Max_Seats__c</elementReference>
                    </defaultValue>
                    <fieldText>Max Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conversion_Rate3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Conversion_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Conversion Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours_Savings3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Hours_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Qualifying_Discounts3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Qualifying_Discounts__c</elementReference>
                    </defaultValue>
                    <fieldText>Qualifying Discounts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Variable_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost_Savings3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Variable_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Annual_Cost3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Operating_Annual_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Annual Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Cost_Savings3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Operating_Annual_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Cost3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.All_In_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Savings3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.All_In_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Forecasted_Trend3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.Current_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>New_Forecasted_Trend3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_3__r.New_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>New Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CostAdjustments3</name>
                    <fieldText>&lt;p&gt;Cost Adjustments:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Adjustments3Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Four_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedAircraft4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Aircraft 4&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Cabin_Type4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Cabin_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Cabin Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Max_Seats4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Max_Seats__c</elementReference>
                    </defaultValue>
                    <fieldText>Max Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conversion_Rate4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Conversion_Rate__c</elementReference>
                    </defaultValue>
                    <fieldText>Conversion Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hours_Savings4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Hours_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Qualifying_Discounts4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Qualifying_Discounts__c</elementReference>
                    </defaultValue>
                    <fieldText>Qualifying Discounts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Variable_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Variable_Cost_Savings4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Variable_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Variable Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Annual_Cost4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Operating_Annual_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Annual Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Operating_Cost_Savings4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Operating_Annual_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>Operating Cost Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Cost4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.All_In_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_In_Savings4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.All_In_Cost_Savings__c</elementReference>
                    </defaultValue>
                    <fieldText>All-In Savings</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Forecasted_Trend4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.Current_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>New_Forecasted_Trend4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Updated_Aircraft_Calculator1.Aircraft_4__r.New_Forecasted_Trend__c</elementReference>
                    </defaultValue>
                    <fieldText>New Forecasted Trend</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CostAdjustments4</name>
                    <fieldText>&lt;p&gt;Cost Adjustments:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Adjustments4Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_One</name>
        <label>Screen One</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Client_Program_Period_0</targetReference>
        </connector>
        <fields>
            <name>AccountDisplay</name>
            <fieldText>&lt;p&gt;Account&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Created_Aircraft_Calculator.Account__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_One_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_One_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Est_Flight_Hours</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>EstFlightTime_Screen1</elementReference>
                    </defaultValue>
                    <fieldText>Est Flight Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Analyze_Booked_Flight</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Analyze Booked Flight</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Booked_Flight</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Leg_ID_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Aircraft_Calculator__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Booked Flight</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>TransactionId_Screen1</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>TransactionId_Screen1</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Analyze_Booked_Flight</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_One_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Departure_Airport</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DepartureAirport_Screen1</elementReference>
                    </defaultValue>
                    <fieldText>Departure Airport</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Arrival_Airport</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ArrivalAirport_Screen1</elementReference>
                    </defaultValue>
                    <fieldText>Arrival Airport</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_One_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Departure_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DepartureDate_Screen1</elementReference>
                    </defaultValue>
                    <fieldText>Departure Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Arrival_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ArrivalDate_Screen1</elementReference>
                    </defaultValue>
                    <fieldText>Arrival Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_One_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_Passengers</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NumberofPassengers_Screen1</elementReference>
                    </defaultValue>
                    <fieldText># of Passengers</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>of_Legs</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NumberofLegs_Screen1</elementReference>
                    </defaultValue>
                    <fieldText># of Legs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_One_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_One_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Analysis</name>
                    <choiceReferences>Potential_Programs_Only</choiceReferences>
                    <choiceReferences>CurrentandPotentialPrograms</choiceReferences>
                    <choiceReferences>Current_Programs_Only</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Analysis</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Analysis</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Potential_Programs_Only</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Auto_Select_Programs</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Auto-Select Programs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Six</name>
        <label>Screen Six</label>
        <locationX>578</locationX>
        <locationY>4682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Compare2Charter</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Selection Completed and Logged in Salesforce&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Three_0</name>
        <label>Screen Three</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Flight</targetReference>
        </connector>
        <fields>
            <name>Screen_Three_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Three_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Program_1_Box_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Select Program 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Program1DisplayText</name>
                    <fieldText>&lt;p&gt;Program Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!GetProgramPeriod1.Program_Name_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Aircraft_P1_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Aircraft__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Aircraft</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Aircraft_Analysis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarAircraft1</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GetProgramPeriod1Details</name>
                    <fieldText>&lt;p&gt;Current Program Period End Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.End_Date__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Program Period Start Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Start_Date__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Min Commitment Final Notification Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Client_Program__r.Minimum_Commit_Notification_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Program Expiration&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Client_Program__r.Contract_Expiration__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Allotted&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Annual_Hours_Allotted__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Remaining Hours (Billed + Booked)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Annual_Hours_Remaining__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Max&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Total_Permitted_Annual_Hours__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Borrowable Hours This Year&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Borrow_able_hours_this_year__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program Period&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursPP1}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursProgram1}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Forecasted Hours&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Total_Forecasted_Hours__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted Hours Remaining&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Forecasted_Hours_Remaining__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted % Utilized&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod1.Forecasted_Utilized__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Program_2_Box_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Select Program 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Program2DisplayText</name>
                    <fieldText>&lt;p&gt;Program Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!GetProgramPeriod2.Program_Name_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Aircraft_P2_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Aircraft__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Aircraft</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Aircraft_Analysis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarAircraft2</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GetProgramPeriod2Details</name>
                    <fieldText>&lt;p&gt;Current Program Period End Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.End_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Program Period Start Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Min Commitment Final Notification Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Client_Program__r.Minimum_Commit_Notification_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Program Expiration&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Client_Program__r.Contract_Expiration__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Allotted&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Annual_Hours_Allotted__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Remaining Hours (Billed + Booked)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Annual_Hours_Remaining__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Max&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Total_Permitted_Annual_Hours__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Borrowable Hours This Year&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Borrow_able_hours_this_year__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program Period&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursPP2}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursProgram2}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Forecasted Hours&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Total_Forecasted_Hours__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted Hours Remaining&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Forecasted_Hours_Remaining__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted % Utilized&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod2.Forecasted_Utilized__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Program_3_Box_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Select Program 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Program3DisplayText</name>
                    <fieldText>&lt;p&gt;Program Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!GetProgramPeriod1.Program_Name_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Aircraft_P3_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Aircraft__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Aircraft</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Aircraft_Analysis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarAircraft3</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GetProgramPeriod3Details</name>
                    <fieldText>&lt;p&gt;Current Program Period End Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.End_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Program Period Start Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Min Commitment Final Notification Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Client_Program__r.Minimum_Commit_Notification_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Program Expiration&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Client_Program__r.Contract_Expiration__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Allotted&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Annual_Hours_Allotted__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Remaining Hours (Billed + Booked)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Annual_Hours_Remaining__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Max&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Total_Permitted_Annual_Hours__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Borrowable Hours This Year&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Borrow_able_hours_this_year__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Underflown Hours - Program Period&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursPP3}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Underflown Hours - Program&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursProgram3}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Forecasted Hours&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Total_Forecasted_Hours__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Forecasted Hours Remaining&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Forecasted_Hours_Remaining__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Forecasted % Utilized&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod3.Forecasted_Utilized__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Program_4_Box_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Select Program 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Program4DisplayText</name>
                    <fieldText>&lt;p&gt;Program Name&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetProgramPeriod1.Program_Name_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Aircraft_P4_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Aircraft__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Selected Aircraft</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Aircraft_Analysis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarAircraft4</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GetProgramPeriod4Details</name>
                    <fieldText>&lt;p&gt;Current Program Period End Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.End_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Program Period Start Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Start_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Min Commitment Final Notification Date&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Client_Program__r.Minimum_Commit_Notification_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Program Expiration&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Client_Program__r.Contract_Expiration__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Allotted&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Annual_Hours_Allotted__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Remaining Hours (Billed + Booked)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Annual_Hours_Remaining__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Annual Hours Max&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Total_Permitted_Annual_Hours__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Borrowable Hours This Year&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Borrow_able_hours_this_year__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program Period&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursPP4}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Underflown Hours - Program&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!UnderflownHoursProgram4}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Forecasted Hours&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Total_Forecasted_Hours__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted Hours Remaining&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Forecasted_Hours_Remaining__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Forecasted % Utilized&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!GetProgramPeriod4.Forecasted_Utilized__c}&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);&quot;&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Three_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Three_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PP1_Incentives</name>
                    <fieldText>&lt;p&gt;Incentives/Adjustments&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Adjustments1Display</name>
                    <choiceReferences>Adjustments1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incentives</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PP2_Incentives</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Incentives/Adjustments&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Adjustments2Display</name>
                    <choiceReferences>Adjustments2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incentives</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PP3_Incentives</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Incentives/Adjustments&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Adjustments3Display</name>
                    <choiceReferences>Adjustments3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incentives</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Three_0_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PP4_Incentives</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Incentives/Adjustments&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Adjustments4Display</name>
                    <choiceReferences>Adjustments4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incentives</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Aircraft Analysis</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenTwo</name>
        <label>Screen Two</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Programs</targetReference>
        </connector>
        <fields>
            <name>ScreenTwo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenTwo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Programs</name>
                    <choiceReferences>ClientPrograms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Program 1</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenTwo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_2</name>
                    <choiceReferences>ClientPrograms2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Program 2</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenTwo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_3</name>
                    <choiceReferences>ClientPrograms3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Program 3</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenTwo_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_4</name>
                    <choiceReferences>ClientPrograms4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Program 4</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Program Analysis</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateAircraftCalculatorRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Inserts the Id of the Account being evaluated (intended to be a Client or Prospect)</description>
        <name>AccountId_Screen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>001U000000U5IIuIAN</stringValue>
        </value>
    </variables>
    <variables>
        <name>AircraftCalculatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ArrivalAirport_Screen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>KMSP</stringValue>
        </value>
    </variables>
    <variables>
        <name>ArrivalDate_Screen1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Selected_Program_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_No_Client_Programs_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_No_New_Programs_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Program1Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Program2Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Program3Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Program4Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>DepartureAirport_Screen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>KVNY</stringValue>
        </value>
    </variables>
    <variables>
        <name>DepartureDate_Screen1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>EstFlightTime_Screen1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>3.1</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofLegs_Screen1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofPassengers_Screen1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Program1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program1Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Client_Program_Year__c</objectType>
    </variables>
    <variables>
        <name>Program2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAircraft0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>SelectedAircraftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProgramPeriodId_Screen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1c4U00000354CoQAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>TransactionId_Screen1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0V4U00000CHK3kUAH</stringValue>
        </value>
    </variables>
    <variables>
        <description>Counts how many Programs are in Get Client Program</description>
        <name>VarNCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
