src/flows/CreatePayments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>853</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>ListLeg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soLeg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>559</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>vNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Expenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Expense_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Records_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Leg_Record</name>
        <label>Create Leg Record</label>
        <locationX>856</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>soLeg.Expense_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cExpenseRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Expense_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBaseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Client_Program_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vClientProgramYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Expense_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Client_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vClientProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Expense_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expense_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeg.Amount_Applied_to_Deposit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Applied_to_Deposit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Count</name>
        <label>Decrease Count</label>
        <locationX>555</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>vNumber</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNextDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Records_to_Create</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>SBX Expense Recort Type</description>
        <name>cExpenseRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012U0000000kJHz</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Number_of_Records_to_Create</name>
        <label>Number of Records to Create</label>
        <locationX>551</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>More_Than_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Leg_Record</targetReference>
            </connector>
            <label>More Than One</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Expenses</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <description>Correcting Leg rec type ID</description>
    <dynamicChoiceSets>
        <name>Lease</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expense_Type__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MMF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expense_Type__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pending</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expense_Status__c</picklistField>
        <picklistObject>Leg__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fNextDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
 YEAR( {!vBaseDate} ) + IF( MONTH({!vBaseDate} ) = 12, 1, 0),
 IF( MONTH( {!vBaseDate} ) = 12, 1, MONTH( {!vBaseDate} ) + 1),
 DAY( {!vBaseDate} )
)</expression>
    </formulas>
    <interviewLabel>CreatePayments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePayments2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Expenses</name>
        <label>Create Expenses</label>
        <locationX>275</locationX>
        <locationY>430</locationY>
        <inputReference>ListLeg</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Payments</name>
        <label>Create Payments</label>
        <locationX>560</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
        <fields>
            <name>First_Expense_Date</name>
            <dataType>Date</dataType>
            <fieldText>First Expense Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Expenses</name>
            <dataType>Number</dataType>
            <fieldText>Number of Expenses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expense_Type</name>
            <choiceReferences>Lease</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expense Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expense_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Expense Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Expense_Status</name>
            <choiceReferences>Pending</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expense Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Applied_to_Deposit</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Applied to Deposit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Payments</startElementReference>
    <status>Active</status>
    <variables>
        <name>ListLeg</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>soLeg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>vAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vBaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vClientProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vClientProgramYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1c5B0000004HGc</stringValue>
        </value>
    </variables>
    <variables>
        <name>vExpenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFirstDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumberOfExpenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
