src/flows/Create_Program_Years.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Year_Counter</name>
        <label>Add to Year Counter</label>
        <locationX>233</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vYearTempDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewYearTempDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Year_Counter</name>
        <label>Year Counter</label>
        <locationX>646</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>vCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vYearTempDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vContractStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Years</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_Years</name>
        <label>Loop Years</label>
        <locationX>214</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Years_At_Max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vNumberOfYears</elementReference>
                </rightValue>
            </conditions>
            <label>Years At Max</label>
        </rules>
        <rules>
            <name>Years_Less_than_Max_and_Greater_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vNumberOfYears</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Program_Year</targetReference>
            </connector>
            <label>Years Less than Max and Greater Than 1</label>
        </rules>
        <rules>
            <name>Years_Less_than_Max_and_1_or_Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>vNumberOfYears</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Program_Year2</targetReference>
            </connector>
            <label>Years Less than Max and 1 or Less</label>
        </rules>
    </decisions>
    <formulas>
        <name>fLeapYearCheck</name>
        <dataType>Boolean</dataType>
        <expression>OR( 
  MOD( YEAR( {!vYearTempDate})+1, 400 ) = 0, 
  AND( 
   MOD( YEAR( {!vYearTempDate})+1, 4 ) = 0,
    MOD( YEAR( {!vYearTempDate})+1, 100 ) != 0
  )
)</expression>
    </formulas>
    <formulas>
        <name>fNewMonthTempDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!vMonthTempDate}),
MONTH({!vMonthTempDate})+1,
DAY({!vMonthTempDate}))</expression>
    </formulas>
    <formulas>
        <name>fNewYearTempDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR({!vYearTempDate})+1,
MONTH({!vYearTempDate}),
DAY({!vYearTempDate}))</expression>
    </formulas>
    <formulas>
        <name>fNumberOfMonths</name>
        <dataType>Number</dataType>
        <expression>{!vNumberOfYears}*12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fTempEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!fLeapYearCheck}=TRUE, {!vYearTempDate}+365,{!vYearTempDate}+364)</expression>
    </formulas>
    <interviewLabel>Create Program Years {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Program Years</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Program_Year2</name>
        <label>Create Program Year</label>
        <locationX>74</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Add_to_Year_Counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Program__c</field>
            <value>
                <elementReference>vClientProgramID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>fTempEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Program_Year__c</field>
            <value>
                <elementReference>Get_Prior_Program_Year.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Year__c</field>
            <value>
                <elementReference>vCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>vYearTempDate</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Program_Year__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Prior_Program_Year</name>
        <label>Get Prior Program Year</label>
        <locationX>66</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Program_Year2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClientProgramID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Program_Year__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Program</name>
        <label>Lookup Program</label>
        <locationX>648</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Year_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vClientProgramID</elementReference>
            </value>
        </filters>
        <object>Client_Program__c</object>
        <outputAssignments>
            <assignToReference>vContractStart</assignToReference>
            <field>Contract_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vInitialMMF</assignToReference>
            <field>Initial_MMF__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vNumberOfYears</assignToReference>
            <field>Number_of_Years__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Program</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vClientProgramID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vContractStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vInitialMMF</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vMonthCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vMonthTempDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNumberOfMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumberOfYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vYearTempDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
