src/flows/Leg_Risk_Analyzer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Leg__c].Event_Sensitivity__c )=&quot;Yes, but outside 3 / 5 hour range&quot;,2,IF(TEXT([Leg__c].Event_Sensitivity__c )=&quot;Yes, within 3 hours (dom) or 5 hours (int) range&quot;,3,1))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Event_Sensitivity_Score_c</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Event_Sensitivity__c} )=&quot;Yes, but outside 3 / 5 hour range&quot;,2,IF(TEXT({!myVariable_current.Event_Sensitivity__c} )=&quot;Yes, within 3 hours (dom) or 5 hours (int) range&quot;,3,1))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Leg__c].Account_Name__c.Name &amp;&apos; - &apos;&amp;TEXT([Leg__c].Flight_Status__c )&amp;&apos; &apos;&amp;TEXT([Leg__c].LastModifiedDate )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Name</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Account_Name__c.Name} &amp;&apos; - &apos;&amp;TEXT({!myVariable_current.Flight_Status__c} )&amp;&apos; &apos;&amp;TEXT({!myVariable_current.LastModifiedDate} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>MAX ((IF(ISBLANK(VALUE(TEXT([Leg__c].Departing_Airport__c.Weather_Sensitivity_Score__c ))),1, VALUE(TEXT([Leg__c].Departing_Airport__c.Weather_Sensitivity_Score__c )))),(IF(ISBLANK(VALUE(TEXT([Leg__c].Arriving_Airport__c.Weather_Sensitivity_Score__c ))),1, VALUE(TEXT([Leg__c].Arriving_Airport__c.Weather_Sensitivity_Score__c )))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Weather_Sensitivity_Score_c</name>
        <dataType>Number</dataType>
        <expression>MAX ((IF(ISBLANK(VALUE(TEXT({!myVariable_current.Departing_Airport__c.Weather_Sensitivity_Score__c} ))),1, VALUE(TEXT({!myVariable_current.Departing_Airport__c.Weather_Sensitivity_Score__c} )))),(IF(ISBLANK(VALUE(TEXT({!myVariable_current.Arriving_Airport__c.Weather_Sensitivity_Score__c} ))),1, VALUE(TEXT({!myVariable_current.Arriving_Airport__c.Weather_Sensitivity_Score__c} )))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Leg__c].Peak_Day__c )=&quot;YES&quot;,3, IF(TEXT([Leg__c].High_Volume_Day__c )=&quot;YES&quot;,2,1))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_Peak_Day_Score_c</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Peak_Day__c} )=&quot;YES&quot;,3, IF(TEXT({!myVariable_current.High_Volume_Day__c} )=&quot;YES&quot;,2,1))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Leg_Risk_Analyzer-5_InterviewLabel</interviewLabel>
    <label>Leg Risk Analyzer</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Leg__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Risk Record</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Event Sensitivity Score</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Event_Sensitivity_Score__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Event_Sensitivity_Score_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Leg</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Leg__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Risk Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Peak Day Score</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Peak_Day_Score__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_Peak_Day_Score_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Weather Sensitivity Score</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Weather_Sensitivity_Score__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Weather_Sensitivity_Score_c</elementReference>
            </value>
        </inputAssignments>
        <object>Risk__c</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
