src/flows/New_Airport.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_New_Airport_value_to_NEW</name>
        <label>Update New Airport value to NEW</label>
        <locationX>742</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>NewAirport</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>857</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>new_airport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>transactionsso.Arriving_Airport__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varArrivalAirportId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transactionsso.Departing_Airport__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varDepartureId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transactionsso.Arriving_Airport__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varDepartureId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transactionsso.Departing_Airport__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varArrivalAirportId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Airport_value_to_NEW</targetReference>
            </connector>
            <label>new airport</label>
        </rules>
    </decisions>
    <interviewLabel>New Airport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Airport</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>484</locationX>
        <locationY>14</locationY>
        <assignNextValueToReference>transactionsso</assignNextValueToReference>
        <collectionReference>Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_transacti</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_airports</name>
        <label>lookup airports</label>
        <locationX>334</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reconciled</stringValue>
            </value>
        </filters>
        <object>Leg__c</object>
        <outputReference>Transactions</outputReference>
        <queriedFields>Departing_Airport__c</queriedFields>
        <queriedFields>Arriving_Airport__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>Departure_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>lookuptotransaction</name>
        <label>lookup to transaction</label>
        <locationX>184</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_airports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <object>Leg__c</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varArrivalAirportId</assignToReference>
            <field>Arriving_Airport__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDepartureId</assignToReference>
            <field>Departing_Airport__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_transacti</name>
        <label>update transacti</label>
        <locationX>491</locationX>
        <locationY>328</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Airport__c</field>
            <value>
                <elementReference>NewAirport</elementReference>
            </value>
        </inputAssignments>
        <object>Leg__c</object>
    </recordUpdates>
    <startElementReference>lookuptotransaction</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ArrivalAirportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>arrivingairport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>departingairport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>DepartureAirportName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>departuredate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAirport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>operator_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>peak_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Peak_Days__c</objectType>
    </variables>
    <variables>
        <name>peak_day_transaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>peak_sobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Peak_Days__c</objectType>
    </variables>
    <variables>
        <name>program_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Transactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>transactionsso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leg__c</objectType>
    </variables>
    <variables>
        <name>var</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varArrivalAirportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDepartureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarpeakDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
</Flow>
