src/flows/Reconciliation_Record_Triggered.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>In_Review_Amy</name>
        <label>In Review - Amy</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flight_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review - Amy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Name__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>In_Review_Bill</name>
        <label>In Review - Bill</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flight_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review - Bill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Name__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>In_Review_Needs_Assignment</name>
        <label>In Review - Needs Assignment</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flight_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review - Needs Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>kkupsky@omnivodigital.com</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Identify_Account_Owner</name>
        <label>Identify Account Owner</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>In_Review_Needs_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Owner.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Review_Bill</targetReference>
            </connector>
            <label>Bill</label>
        </rules>
        <rules>
            <name>Amy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Owner.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Review_Amy</targetReference>
            </connector>
            <label>Amy</label>
        </rules>
    </decisions>
    <interviewLabel>Reconciliation Record Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reconciliation Record Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Account_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 AND 7)</filterLogic>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Flight_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brutal Recovery – Flew Commercial</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Invoice_Total__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Invoice_Total__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Leg__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NotifyAccountOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flight {!$Record.Name} for {!$Record.Account_Name__c} needs your review&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NotificationEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>kkupsky@omnivodigital.com</stringValue>
        </value>
    </variables>
</Flow>
