src/flows/sfdc_test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>797</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>809</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>date_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>peak_sobject.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>departuredate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>peak_sobject.Type_of_Peak_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEAK DAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_transacti</targetReference>
            </connector>
            <label>date matches</label>
        </rules>
    </decisions>
    <description>12</description>
    <interviewLabel>sfdc_test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sfdc_test</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>515</locationX>
        <locationY>26</locationY>
        <assignNextValueToReference>peak_sobject</assignNextValueToReference>
        <collectionReference>peak_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_to_no</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_peak_days</name>
        <label>lookup peak days</label>
        <locationX>363</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operator_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>operator_id</elementReference>
            </value>
        </filters>
        <object>Peak_Days__c</object>
        <outputReference>peak_collection</outputReference>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Type_of_Peak_Day__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_program1</name>
        <label>lookup to program1</label>
        <locationX>179</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_peak_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>program_id</elementReference>
            </value>
        </filters>
        <object>Client_Program__c</object>
        <outputAssignments>
            <assignToReference>operator_id</assignToReference>
            <field>Operator_Program__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookuptotransaction</name>
        <label>lookup to transaction</label>
        <locationX>175</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_to_program1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <object>Leg__c</object>
        <outputAssignments>
            <assignToReference>program_id</assignToReference>
            <field>Client_Program__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>departuredate</assignToReference>
            <field>Departure_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peak_day_transaction</assignToReference>
            <field>Peak_Day__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_to_no</name>
        <label>update to no</label>
        <locationX>519</locationX>
        <locationY>198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peak_Day__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Leg__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_transacti</name>
        <label>update transacti</label>
        <locationX>631</locationX>
        <locationY>338</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transaction_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peak_Day__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Leg__c</object>
    </recordUpdates>
    <startElementReference>lookuptotransaction</startElementReference>
    <status>Active</status>
    <variables>
        <name>departuredate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>operator_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>peak_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Peak_Days__c</objectType>
    </variables>
    <variables>
        <name>peak_day_transaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>peak_sobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Peak_Days__c</objectType>
    </variables>
    <variables>
        <name>program_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>transaction_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
