src/flows/TASKRAY__TaskRay_External_Owner_Completion_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_External_Owner_Complete</name>
        <label>Update External Owner Complete</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>TASKRAY__trInvocableExternalOwnerFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Task_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToUpdate</name>
            <value>
                <elementReference>Task_Fields_To_Update</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>Task_To_Update</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Values_To_Task</name>
        <label>Assign Values To Task</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Task_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_To_Update.TASKRAY__trExtOwnerComplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_To_Update.TASKRAY__trExtOwnerComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_External_Owner_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fields_To_Update</name>
        <label>Fields To Update</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Task_Fields_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TASKRAY__trExtOwnerComments__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Fields_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TASKRAY__trExtOwnerComplete__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there is no external owner, don&apos;t show anything if someone were to get to this flow URL</description>
        <name>Completion_Screen_Decision</name>
        <label>Completion Screen Decision</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Complete_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External Owner Complete</defaultConnectorLabel>
        <rules>
            <name>External_Owner_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.TASKRAY__trExtOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_External_Owner_Action_Unavailable</targetReference>
            </connector>
            <label>External Owner - Not Populated</label>
        </rules>
        <rules>
            <name>External_Owner_Complete_Already_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.TASKRAY__trExtOwnerComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Already_Completed</targetReference>
            </connector>
            <label>External Owner Complete - Already Completed</label>
        </rules>
    </decisions>
    <interviewLabel>TaskRay External Owner Completion Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isOverridable>true</isOverridable>
    <label>TaskRay External Owner Completion Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completion_Screen_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TASKRAY__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Complete_Task</name>
        <label>Complete Task</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values_To_Task</targetReference>
        </connector>
        <fields>
            <name>Mark_Completion_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Mark Task &lt;/span&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px;&quot;&gt;Complete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_And_Task_Name</name>
            <fieldText>&lt;p&gt;Project: {!Get_Task.TASKRAY__trFormulaProjectName__c}&lt;/p&gt;&lt;p&gt;Task: {!Get_Task.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mark_Task_Complete_Description</name>
            <fieldText>&lt;p&gt;To complete this task, use the complete checkbox, optionally add comments, and then click &apos;Finish&apos;. These updates will be visible to the project team immediately. This task will not be able to be edited by you again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complete_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_0</name>
            <defaultValue>
                <stringValue>{!Get_Task.TASKRAY__trExtOwnerComments__c}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Something went wrong, here&apos;s some more information about the problem for your System Administrator &lt;/span&gt;&lt;span style=&quot;color: rgb(237, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_External_Owner_Action_Unavailable</name>
        <label>No External Owner - Action Unavailable</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Action_Unavailable_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Action Unavailable&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Unavailable</name>
            <fieldText>&lt;p&gt;This task is not available for the completion flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Already_Completed</name>
        <label>Task Already Completed</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Task_Already_Complete_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Task Complete!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Already_Complete</name>
            <fieldText>&lt;p&gt;This task has already been marked complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Completed</name>
        <label>Task Completed</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Task_Completed_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Task Complete!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Completed_Message</name>
            <fieldText>&lt;p&gt;Thanks for letting us know that you&apos;re done with this task! We&apos;ll let you know next steps soon!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fields_To_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Task_Fields_To_Update</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TASKRAY__Project_Task__c</objectType>
    </variables>
</Flow>
