src/flows/Update_Tax_on_Leg.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_CA_Tax</name>
        <label>Assign CA Tax</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GetLeg.CA_State_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CATaxBothWays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CA_Tax_0</name>
        <label>Assign CA Tax</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetLeg.CA_State_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CATaxFeeDeparting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CA_Tax_0_0</name>
        <label>Assign CA Tax</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetLeg.CA_State_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CATaxArriving</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeg</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Calculate_Tax</name>
        <label>Calculate Tax?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome - Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_Calculate_CA_Tax_Both_Ways</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>GetLeg.Departing_Airport__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Arriving_Airport__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>QS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>FX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Aircraft_Fee_Depart</targetReference>
            </connector>
            <label>Yes, Calculate CA Tax Both Ways</label>
        </rules>
        <rules>
            <name>Calculate_Tax_Departing_Only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>GetLeg.Departing_Airport__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Arriving_Airport__r.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>QS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>FX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Aircraft_Fee_Depart_0</targetReference>
            </connector>
            <label>Calculate Tax Departing Only</label>
        </rules>
        <rules>
            <name>Calculate_Tax_Arriving_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeg.Departing_Airport__r.State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Arriving_Airport__r.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>QS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeg.Aircraft_Tail_Number__r.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>FX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Aircraft_Fee_Arrive_0_0</targetReference>
            </connector>
            <label>Calculate Tax Arriving Only</label>
        </rules>
    </decisions>
    <formulas>
        <name>CATaxArriving</name>
        <dataType>Currency</dataType>
        <expression>IF({!Requested_Aircraft_Fee_Arrive.Tax_Fee__c}&lt;{!Flown_Aircraft_Fee_Arrive.Tax_Fee__c},{!Requested_Aircraft_Fee_Arrive.Tax_Fee__c},{!Flown_Aircraft_Fee_Arrive.Tax_Fee__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CATaxBothWays</name>
        <dataType>Currency</dataType>
        <expression>IF({!Requested_Aircraft_Fee_Depart.Tax_Fee__c}&lt;{!Flown_Aircraft_Fee_Depart.Tax_Fee__c},{!Requested_Aircraft_Fee_Depart.Tax_Fee__c},{!Flown_Aircraft_Fee_Depart.Tax_Fee__c})+IF({!Requested_Aircraft_Fee_Arrive.Tax_Fee__c}&lt;{!Flown_Aircraft_Fee_Arrive.Tax_Fee__c},{!Requested_Aircraft_Fee_Arrive.Tax_Fee__c},{!Flown_Aircraft_Fee_Arrive.Tax_Fee__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CATaxFeeDeparting</name>
        <dataType>Currency</dataType>
        <expression>IF({!Requested_Aircraft_Fee_Depart.Tax_Fee__c}&lt;{!Flown_Aircraft_Fee_Depart.Tax_Fee__c},{!Requested_Aircraft_Fee_Depart.Tax_Fee__c},{!Flown_Aircraft_Fee_Depart.Tax_Fee__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Tax on Leg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Tax on Leg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Flown_Aircraft_Fee_Arrive</name>
        <label>Flown Aircraft Fee Arrive</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CA_Tax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Type_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Arriving_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Flown_Aircraft_Fee_Arrive_0_0</name>
        <label>Flown Aircraft Fee Arrive</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CA_Tax_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Type_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Arriving_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Flown_Aircraft_Fee_Depart</name>
        <label>Flown Aircraft Fee Depart</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requested_Aircraft_Fee_Arrive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Type_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Departing_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Flown_Aircraft_Fee_Depart_0</name>
        <label>Flown Aircraft Fee Depart</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CA_Tax_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Type_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Departing_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLeg</name>
        <label>GetLeg</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOperator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Leg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOperator</name>
        <label>GetOperator</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Tax</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Client_Program__r.Operator_Program__r.Operator__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requested_Aircraft_Fee_Arrive</name>
        <label>Requested Aircraft Fee Arrive</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flown_Aircraft_Fee_Arrive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Requested_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Arriving_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requested_Aircraft_Fee_Arrive_0_0</name>
        <label>Requested Aircraft Fee Arrive</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flown_Aircraft_Fee_Arrive_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Requested_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Arriving_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requested_Aircraft_Fee_Depart</name>
        <label>Requested Aircraft Fee Depart</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flown_Aircraft_Fee_Depart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Requested_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Departing_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Requested_Aircraft_Fee_Depart_0</name>
        <label>Requested Aircraft Fee Depart</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flown_Aircraft_Fee_Depart_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aircraft_Type_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Aircraft_Requested_Formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Operator_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOperator.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Airport_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLeg.Departing_Airport__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Airport_Fee_Lookup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLeg</name>
        <label>UpdateLeg</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <inputReference>GetLeg</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeg</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
